@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');



* {
    margin: 0;
    font-family: merriweather;
}



/* banner section */


.banner-bg {
    background-image: url('../styles/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 140px;
    padding-left: 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    justify-content: center;


}

.section-heading h2 {
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
}

.section-heading .main-heading {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 95px;
    padding-left: 344px;
    padding-right: 344px;

}



/* --------offer section----------- */


.first-deal {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    padding-top: 120px;
    margin: auto;

}

.comment {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
    margin: auto;

}


.last-deal {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 48px;
    margin: auto;
}



.off-cantainer {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.off-container {
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
}

/* ------celebrating style section--------------- */


.celebrating-bg {
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 140px;
    padding-left: 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    justify-content: center;
}


.welcome-text {
    color: #FFF;
    padding-top: 126px;
    padding-left: 126px;
    font-size: 55px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 750px;

}

.detail-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 750px;
    padding-top: 24px;
    padding-left: 126px;
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 154px;
    padding-bottom: 142px;
    padding-top: 48px;
    padding-right: 1060px;
}


/*--------------------place style section------------*/

.place {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
}

.date {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.time {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.place1 {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.date1 {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.time1 {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

button {
    color: white;
    margin-top: 64px;
    margin-bottom: 126px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #FF0000;
    border-radius: 1px solid red;
}

#venue-address {
    margin-left: 140px;
    margin-right: 140px;
    background-color: rgb(230, 190, 190);
    margin-top: 140px;
    text-align: center;
}

/* -----------------best offer styles section---------------- */

.container-text .short-describtion {
    display: block;

}


.container {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;

}

.offer-text {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

.heading-text {
    color: #070211;
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 22px;

}

.describtion-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 100px;
    text-align: justify;
}

.offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 35px;
    width: 365px;
    height: 365px;
}


.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.short-describtion-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    height: 96px;
}

